<h1>Test details</h1>
Title: <%= @test.title %><br>
Level: <%= @test.level %><br>
Category: <%= @test.category.title %><br>

<h1>Questions</h1>

<table>
  <tr>
    <th>id</th>
    <th>body</th>
    <th>Actions</th>
  </tr>

  <%= render @questions %>
</table>

<%= link_to 'New question', new_test_question_path %>
<%= link_to 'All tests', tests_path %>
