<div class="row justify-content-center mt-3" >
  <div class="col col-md-6">

    <div class="card border-primary">
      <div class="card-body">

        <h5 class="card-title">'<%= @test_passage.test.title %>' <%= t('nav.test_completed') %></h5>
        <p>
          <%= t('nav.success_rate') %>
          <% if @test_passage.success? %>
            <div class="alert alert-success" role="alert">
              <%= @test_passage.success_percent %>% <%= t('nav.test_success') %>
            </div>
        <% else %>
            <div class="alert alert-danger" role="alert">
              <%= @test_passage.success_percent %>% <%= t('nav.test_failed') %>
            </div>
          <% end %>
        </p>

      </div>
    </div>

  </div>
</div>
