<nav class="navbar navbar-light bg-light">

  <%= link_to t('nav.appname'), root_path, class: 'navbar-brand' %>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to t('admin.nav.header'), admin_tests_path, class: 'navbar-brand' %>
    <% else %>
      <%= link_to t('nav.feedback'), new_feedback_path, class: 'navbar-brand' %>
      <%= link_to t('nav.badges'), badges_index_path, class: 'navbar-brand' %>
    <% end %>
  <% end %>
  <span class="navbar-text">
    <% if user_signed_in? %>
      <%= t('nav.welcome') %>, <b><%= current_user.email %></b> |
      <%= link_to t('nav.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('nav.login'), new_session_path(resource_name) %><br />
      <%= link_to t('nav.signup'), new_registration_path(resource_name) %><br />
    <% end %>
  </span>
</nav>
