  <tr>
    <td><%= answer.id %></td>
    <td><%= answer.body %></td>
    <td><%= answer.correct %></td>
    <td>
      <%= link_to t('nav.show'), admin_answer_path(answer) %>
      <%= link_to t('nav.edit'), edit_admin_answer_path(answer) %>
      <%= link_to t('nav.delete'),
                  admin_answer_path(answer),
                method: :delete,
                data: { confirm: t('nav.confirm') } %>
    </td>
  </tr>
