<tr>
  <td><%= question.id %></td>
  <td><%= question.body %></td>
  <td>
    <%= link_to t('nav.show'), admin_question_path(question) %>
    <%= link_to t('nav.edit'), edit_admin_question_path(question) %>
    <%= link_to t('nav.delete'),
                admin_question_path(question),
                method: :delete,
                data: { confirm: t('nav.confirm') } %>
  </td>
</tr>


