<h1><%= @question.test.title %> <%= t('.header') %></h1>
<p>
  <%= t('helpers.label.question.body') %>: <%= @question.body %><br>
</p>

<h2><%= t('admin.answers.title') %></h2>

<table>
  <%= render @question.answers.order(id: :asc) %>
</table>

<%= link_to link_to t('admin.nav.new_answer'), new_admin_question_answer_path(@question) %>

<%= link_to t('admin.nav.back_test'), admin_test_path(@question.test) %>

<%= link_to t('nav.edit'), edit_admin_question_path(@question) %>
<%= link_to t('nav.delete'),
            admin_question_path(@question),
            method: :delete,
            data: { confirm: t('nav.confirm') } %>

