<h1><%= t('admin.tests.title') %></h1>
<p>
  <%= link_to t('admin.nav.new_test'), new_admin_test_path %>
</p>

<table>
  <tr>
    <th><%= t('helpers.label.all.id') %></th>
    <th><%= t('helpers.label.test.category_id') %></th>
    <th><%= t('helpers.label.test.title') %></th>
    <th><%= t('helpers.label.test.level') %></th>
    <th><%= t('admin.questions.title') %></th>
    <th colspan="3"><%= t('nav.actions') %></th>
  </tr>

  <%= render @tests %>
</table>

<%= link_to t('admin.nav.new_test'), new_admin_test_path %>
