<div class="card border-primary mt-1">
  <div class="card-body">
    <h5 class="card-title"> <%= test.category.title %> / <%= test.title %></h5>
    <ul>
      <li><%= t('helpers.label.all.id') %> <%= test.id %>
      <li><%= t('helpers.label.test.level') %> <%= test_level(test) %>
      <li><%= t('admin.questions.title') %> <%= test.questions.count %>
    </ul>
    <%= button_to t('nav.start'), start_test_path(test), class: 'btn btn-primary' %>
  </div>
</div>




